body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f5fa;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    height: 700px;
}

.logo {
    width: 50%;
    background-color: #e9fff4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.logo img {
    width: 300px;
    height: auto;
}

.formlogin {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

h3 {
    margin-bottom: 1px; 
    text-align: left; 
}

h1 {
    margin-bottom: 20px; 
    text-align: left; 
}

label {
    width: 100%; 
    margin-bottom: 5px; 
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    width: 92%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn, .googlelogin { 

    padding: 15px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px; 
}

.googlelogin {
    width: 93%; 
}

.login-btn {
    background-color: #1E9E6A; 
    width: 100%;
}

.login-btn:hover {
    background-color: #1E9E6A; 
}

.googlelogin {
    background-color: #1A202C; 
}

.googlelogin img {
    margin-right: 10px;
    width: 20px;
}

.esqueceusenha {
    text-align: right;
    margin-top: 20px; 
}

.esqueceusenha a {
    color: #1E9E6A;
    text-decoration: none;
}

.esqueceusenha a:hover {
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.criarconta {
    text-align: center; 
    margin-top: 20px; 
    width: 100%; 
}